{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% endblock %}
{% block title-meta %}
{{pagetitile}}
{% endblock %}

{% block main %}
<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title mb-0 float-left">{{pagetitile}}</h3>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="row">
					<div class="col-12">
						{{ form.name|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.time_min|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.description|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.category|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.sextype|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.age|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.phone|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.ptime|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.pstatus|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.ptext|as_crispy_field }}
					</div>
					{% if user.is_superuser %}
						<div class="col-6">
							{{ form.author|as_crispy_field }}
						</div>
						<div class="col-6">
							{{ form.status|as_crispy_field }}
						</div>
					{% elif user.is_supervisor %}
					<div class="col-6">
						<div id="div_id_status" class="form-group">
							   <label for="id_status" class=" requiredField">
							   وضعیت<span class="asteriskField">*</span>
							   </label>
							   <div class="">
									<select name="status" class="select form-control" required="" id="id_status">
										   <option value="i">در حال برسی</option>
										   <option value="b">رد شده</option>
										   <option value="p">تایید شده</option>
									</select>
							   </div>
						</div>
				   </div>
					{% else %}
					<div class="col-6">
						 <div id="div_id_status" class="form-group">
								<label for="id_status" class=" requiredField">
								وضعیت<span class="asteriskField">*</span>
								</label>
								<div class="">
									 <select name="status" class="select form-control" required="" id="id_status">
											<option value="d">پیش‌نویس</option>
											<option value="i">ارسال برای سرپرست</option>
									 </select>
								</div>
						 </div>
					</div>
				{% endif %}
				<div class="col-6">
				<button class="btn btn-success">ثبت تماس</button>
				{% if user.is_superuser and request.resolver_match.kwargs.pk %}
				<a href="{% url 'account:call-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف تماس</a>
				{% endif %}
				</div>
				</div>
				

			</form>
		</div>
</div>
{% endblock %}