{% extends 'registration/base.html' %}

{% block title %}
{% endblock %}
{% block title-meta %}
لیست تماس ها
{% endblock %}
{% block main %}

		<div class="row">
          <div class="col-12">
            {% if object_list %}
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title mb-0 float-left">لیست تماس ها</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>نام مراجع</th>
                        <th>مدت تماس</th>
                        <th>دسته‌بندی</th>
                        <th>مشاور</th>
                        <th>خلاصه</th>
                        <th>زمان ثبت</th>
                        <th>وضعیت</th>
                        <th>اکشن</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for call in object_list %}
                        <tr>
                          <td>{{call.name}}</td>
                          <td>{{call.time_min}} دقیقه</td>
                          <td>{{call.get_category_display}}</td>
                          <td>
                            {% if call.author.get_full_name %}
                            {{call.author.get_full_name}}
                            {% else %}
                            {{call.author.username}}
                            {% endif %}
                          </td>
                          <td>{{call.description|striptags|truncatewords:"30"}}</td>
                          <td>{{call.jcreated}}</td>
                          <td>
                            {% if call.status == 'p' %}
                              تایید شده
                            {% elif call.status == 'i' %}
                              درحال بررسی
                            {% elif call.status == 'b' %}
                            رد شده
                            {% elif call.status == 'd' %}
                            پیش‌نویس
                            {% endif %}
                          </td>
                          <td>
                            {% if user.is_superuser or user.is_supervisor %}
                              <a class="badge text-danger" href="{% url 'account:call-delete' call.pk %}">حذف</a>
                              <a class="badge text-danger" href="{% url 'account:call-update' call.pk %}">ویرایش</a>
                            {% elif user.is_author %}
                                {% if call.status == 'b' or call.status == 'd' %}
                                  <a class="badge text-danger" href="{% url 'account:call-update' call.pk %}">ویرایش</a>
                                {% endif %}
                            {% endif %}

                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              {% else %}
              <h3></h3>محتوایی برای نمایش وجود ندارد</h3>
              {% endif %}
          </div>
        </div>
{% endblock %}