{% load static %}
{% load base_tags %}
{% load gravatar %}

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% gravatar_url user.email 150 %}" class="img-circle elevation-2" alt="{{user.email}}">
        </div>
        <div class="info">
          <a href="{% url 'account:profile' %}" class="d-block">
            {% if user.get_full_name %}
              {{user.get_full_name}}
            {% else %}
              {{user.username}}
            {% endif %}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  {% link request 'dashboard' 'داشبورد' 'fa-spinner' %}
                </li>
                <li class="nav-item">
                  {% link request 'home' 'لیست تماس ها' 'fa-list' %}
                </li>
                {%if user.is_superuser or user.is_supervisor %}
                <li class="nav-item">
                  {% link request 'peygiri' 'لیست پیگیری' 'fa-list' %}
                </li>
                {% endif %}
                {% if user.is_superuser or user.is_author %}
                <li class="nav-item">
                  {% link request 'call-create' 'افزودن تماس' 'fa-phone-square' %}
                </li>
                {% endif %}
              </ul>
            </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>